pokemon-soap-app-client/src/main/resources/pokemon.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://bankaya.mx/demos/web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bankaya.mx/demos/web-service" targetNamespace="http://bankaya.mx/demos/web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://bankaya.mx/demos/web-service">

    <xs:element name="getPokemonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPokemonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemon" type="tns:pokemon"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="pokemon">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:element name="abilities" type="tns:abilities"/>
            <xs:element name="base_experience" type="xs:int"/>
            <xs:element name="heldItems" type="tns:heldItem"/>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="location_area_encounters" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="abilities">
        <xs:sequence>
            <xs:element name="ability" type="tns:ability"/>
            <xs:element name="is_hidden" type="xs:boolean"/>
            <xs:element name="slot" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ability">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="heldItem">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPokemonResponse">
    <wsdl:part element="tns:getPokemonResponse" name="getPokemonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPokemonRequest">
    <wsdl:part element="tns:getPokemonRequest" name="getPokemonRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PokemonPort">
    <wsdl:operation name="getPokemon">
      <wsdl:input message="tns:getPokemonRequest" name="getPokemonRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPokemonResponse" name="getPokemonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PokemonPortSoap11" type="tns:PokemonPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPokemon">
      <soap:operation soapAction=""/>
      <wsdl:input name="getPokemonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPokemonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PokemonPortService">
    <wsdl:port binding="tns:PokemonPortSoap11" name="PokemonPortSoap11">
      <soap:address location="http://localhost:8080/demo/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>